// var
$color1 : #111;
$color16: #161616;
$color-hover: #F24962;

$fs-default-pc : 16px; 
$fs-heading-large-pc : 70px;
$fs-heading-pc : 50px;
$fs-title-pc: 26px;

$font-regular : 'Roboto-Regular';
$font-bold : 'Roboto-Bold';

$pd-menu-pc: 30px;
$pd-menu-table: 30px 15px;

// end var

