footer#footer-test {
    background-color: $white-1;
    box-shadow: 0 0 16px 0 #D7D7D7;
    // height: 30px;
    padding: $padding-4 0;
    // position: relative;

    .next_section {
        width: auto;
    }






}

.align-item-center {
    align-items: center;
}

