footer#footer-test {
    // background-color: $white-1;
    // box-shadow: 0 0 16px 0 #D7D7D7;
    // // height: 30px;
    // padding: $padding-4 0;
    // // position: relative;

    // .next_section {
    //     width: auto;
    // }

    .footer-tablet-desktop {

        @include respond (tab-land) {
            display: flex;
        }

        @include respond (tab-port) {
            display: flex;

        }

        @include respond (phone) {
            display: none;
        }

        @include respond (big-desktop) {
            display: flex;
        }

    }




    .group-button {

        &__show-answer-view-desktop {
            display: block;

            @include respond (tab-land) {
                display: block;
            }

            @include respond (tab-port) {
                display: none;

            }

            @include respond (phone) {
                display: none;
            }

            @include respond (big-desktop) {
                display: block;
            }
        }

        &__show-answer-view-tablet {
            display: none;

            @include respond (tab-land) {
                display: none;
            }

            @include respond (tab-port) {
                display: block;

            }

            @include respond (phone) {
                display: none;
            }

            @include respond (big-desktop) {
                display: none;
            }
        }

        &__next-finish-section-view-desktop {
            display: block;

            @include respond (tab-land) {
                display: block;
            }

            @include respond (tab-port) {
                display: none;

            }

            @include respond (phone) {
                display: none;
            }

            @include respond (big-desktop) {
                display: block;
            }
        }

        &__next-finish-section-view-ipad {
            display: none;

            @include respond (tab-land) {
                display: none;
            }

            @include respond (tab-port) {
                display: block;

            }

            @include respond (big-desktop) {
                display: none;
            }
        }
    }

    //--------------------------------
    //view mobile 
    .footer-view-mobile {
        display: none;

        @include respond (tab-land) {
            display: none;
        }

        @include respond (tab-port) {
            display: none;

        }

        @include respond (phone) {
            display: flex;
        }

        @include respond (big-desktop) {
            display: none;
        }

        .audio-player-view-mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .group-button {

                &__button-play-pause {

                    color: $light-red-1;

                    .btn-play-pause {
                        font-size: $h3;
                    }
                }

            }
            
           

            .time-play {
                display: flex;
                align-items: center;
                &__time-audio {
                    font-size: 12px;
                    // margin-left: $margin-2;
                    margin-right: $margin-2;
                }

                &__audio-time-line {
                    position: relative;
                    height: 3px;
                    border-radius: 6px;
                    background-color: $dark-blue-4;
                    width: 80px;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 40px;
                        height: 3px;
                        border-radius: 6px;
                        background-color: $light-red-1;

                    }

                    &::after {
                        content: '';
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: $white-1;
                        border: 2px solid $light-red-1;

                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 42%;
                    }
                }
            }

            .time-countdown-mobile {
                    color: $light-red-1;
                    // margin-right: $margin-2;
                &__icon {
                    font-size: 14px;
                }

                &__time {
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .button-next-finish-section-view-mobile {
                // padding-left: 12px;
                // padding-right: 12px;
            }


        }
    }

}

// .align-item-center {
//     align-items: center;
// }

.audio-player-time-countdown {
    display: flex;
    flex-direction: row;
    // align-items: center;

    .audio-player {
        display: flex;
        width: 100%;

        .group-button-audio {

            .btn-play-pause {
                font-size: $h1;
                color: $light-red-1;
                margin-right: $margin-5;


                @include respond (tab-land) {
                    font-size: $h1;
                }

                @include respond (tab-port) {
                    font-size: $h2;

                }


                @include respond (big-desktop) {
                    font-size: $h1;
                }

            }
        }


        .time-play {
            width: 100%;


            &__time-audio {
                margin-right: $margin-3;
            }

            &__audio-time-line {
                position: relative;
                height: 4px;
                border-radius: 6px;
                background-color: $dark-blue-4;
                margin-right: $margin-3;
                width: 100%;

                // @include respond (tab-land) {
                //     width: 100%;
                //    }

                //    @include respond (tab-port) {
                //     width: 30%;

                //    }

                //    @include respond (phone) {
                //     width: 100%;
                //    }

                //    @include respond (big-desktop) {
                //     width: 100%;
                //    }

                &::before {
                    content: '';
                    position: absolute;
                    width: 120px;
                    height: 4px;
                    border-radius: 6px;
                    background-color: $light-red-1;

                    @include respond (tab-land) {
                        width: 120px;
                    }

                    @include respond (tab-port) {
                        width: 90px;

                    }


                    @include respond (big-desktop) {
                        width: 120px;
                    }
                }

                &::after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: $white-1;
                    border: 2px solid $light-red-1;

                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 42%;
                }
            }

            &__time-left {
                margin-right: $margin-3;
            }
        }

        .volume {

            &__icon {
                color: $dark-blue-2;
                font-size: $icon-2;

                margin-right: $margin-3;

            }

            &__level {
                position: relative;
                width: 70px;
                max-width: 70px;
                height: 4px;
                border-radius: 6px;
                background-color: $dark-blue-4;


                &::before {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 4px;
                    border-radius: 6px;
                    background-color: $light-red-1;

                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;

                    background-color: $white-1;
                    border: 2px solid $light-red-1;
                }

            }
        }
    }
}

.time-countdown {
    color: $light-red-1;
    margin-left: auto;
    margin-right: auto;

    &_left {
        margin-left: 0;
    }

    &__icon {
        font-size: $icon-2;
        margin-right: $margin-2;

        @include respond (tab-land) {
            font-size: 18px;
        }

        @include respond (tab-port) {
            font-size: 18px;

        }

        @include respond (big-desktop) {
            font-size: $icon-2;
        }
    }

    &__time {
        font-size: $h3;
        font-weight: bold;

        @include respond (tab-land) {
            font-size: $h3;
        }

        @include respond (tab-port) {
            font-size: $h4;

        }

        @include respond (phone) {
            font-size: $h3;
        }

        @include respond (big-desktop) {
            font-size: $h3;
        }
    }
}

.test-listening {
    .choose_correct {
        &_question {
            margin-bottom: $margin-3;

            .form-answer__number-answer {
                margin-right: $margin-3;
                display: inline-block;
            }
        }

        &_answer {
            margin-left: $margin-6;

            .check {
                display: inline-block;
                border: 1px solid #F24962;
                margin-right: $margin-3;
                width: 35px;
                height: 35px;
                line-height: 35px;
                border-radius: 50%;
                text-align: center;
                font-size: 18px;
                cursor: pointer;
            }
        }

        .check_box_active strong {
            background: #F24962;
            color: #FFF;
        }

        label {
            margin-bottom: $margin-2;
            display: block;
        }
    }
}